<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Information</title>
</head>
<body>
    <h1>Candidate Information</h1>

    <p><strong>Candidate ID:</strong> {{ candidate_id }}</p>
    <p><strong>Candidate Name:</strong> {{ full_name }}</p>
    <p><strong>Party Name:</strong> {{ party_name }}</p>
    <p><strong>Candidate Image:</strong></p>
    <img src="data:image/jpeg;base64,{{ image_data }}" alt="Candidate Image">

</body>
</html>
